// Navigation Styles here
header{
    .centFull();
    .topNav{
        .flex(row,space-between);
    }
    .nav{
        .flex(row,center);
        align-content: center;
        a{
            width:20%;
            .bdr();
        }
    }

}

.intro{
    border-top:2px dashed @navigation-border;
}